@model Gathering
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card border border-primary mt-5">
            <div class="card-header bg-primary text-white"><h3>@Model.Title</h3>
                <div class="col mt-2 ">
                    @if(ViewBag.User.UserId == Model.Planner.UserId)
                    {
                        <a class="btn btn-warning btn-sm" href="/gathering/@Model.GatheringId/delete">Cancel</a>
                    }
                    else
                    {
                        if(Model.Guests.Any(gl => gl.UserId == ViewBag.User.UserId))
                        {
                            <a class="btn btn-dark btn-sm bg-secondary text-white" asp-action="ToggleStatus" asp-route-gatheringId="@Model.GatheringId" asp-route-status="leave">Back Out</a>
                        }
                        else
                        {
                            <a class="btn btn-success btn-sm" asp-action="ToggleStatus" asp-route-gatheringId="@Model.GatheringId" asp-route-status="join">RSVP</a>
                        }
                    }    
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>Location: @Model.Location</p>
                        <p>Event Coordinator: @Model.Planner.FirstName</p>
                        <p>Date: @Model.Date.ToString("dddd, MMMM dd yyyy h:mm tt")</p>
                        <p>Duration: @Model.DurationInt @Model.DurationStr</p>
                        <p>Description: @Model.Description</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe
                                width="450"
                                height="250"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD4XOAzAwR9ehNWvcYN_AN_gRvbAbWuT3I&q=@Model.Location" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-group">
                            <li class="list-group-item bg-dark text-white">Participants: </li>
                            @foreach( var g in Model.Guests)
                            {
                                <li class="list-group-item">@g.Participants.FirstName @g.Participants.LastName</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>